{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <center><h1>TO DO</h1></center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="mb-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="Taskname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="priority">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="Date">
                </div>
                <input type="submit" class="btn btn-success">
            </form>




        </div>
      <div class="col-md-6">
         <center> <h3>TASK TO BE COMPLETED</h3> </center>
           {% for i in task1 %}
           <div class="card">
               <div class="card-body shadow">
                  <h5 class="card-title">{{i.name}}</h5>
                    <p> <b> {{i.priority}}</b></p>
                   <p> <b> {{i.date}}</b></p>
                     <a  class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                     <a  class="btn btn-success" href="{% url 'update' i.id %}">update</a>
               </div>
           </div>
          <br>
    {% endfor %}
      </div>
    </div>
</div>


{% endblock %}